<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gigaPet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87EFDEAF1D6AE58D00749050</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87EFDEC31D6AE58E00749050</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87EFDECE1D6AE58E00749050</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
